<!-- ng-view -->
 <div id="mouldView" class="grid-container text-center"><br>
     <a href="#!/mouldings" type="button" class=" button" style="font-size:1.2rem;"><i class="fas fa-arrow-left"></i> {[{data.mouldCat.backToCat}]}</a>
     <div class="grid-x grid-margin-x align-center-middle">
         <div class="cell large-1 show-for-large text-right">
             <button ng-click="prevMould()" type="button" class=" button  "><i class="fas fa-arrow-left fa-2x"></i></button>
         </div>
         <div class="cell  large-10  carton-hole" style="max-width: 960px;">
             <div class="grid-x">
                 <div class="cell">
                     <img src="assets/img/baget/{[{selectedMould.code}]}.webp" alt="">
                 </div>
                 <div class="cell">
                     <div class="mould-item-descr white-bg dark-gold text-center">
                         <table>
                             <tr class="mould-item-labels">
                                 <th ng-repeat="x in data.mouldCat.mouldLabels">{[{x}]}</th>
                             </tr>
                             <tr class="s-bold">
                                 <td class="item_code">{[{selectedMould.code}]}</td>
                                 <td>{[{selectedMould.width}]}<span class="sm-font"> mm</span></td>
                                 <td>{[{selectedMould.height}]}<span class="sm-font"> mm</span></td>
                                 <td>{[{selMouldProd}]}</td>
                                 <td>{[{selMouldMat}]}</td>
                                 <td class="item_price">{[{selectedMould.price | currency : "" : 0 }]} <span class="sm-font"><br>{[{data.mouldCat.priceUnit}]}</span></td>
                             </tr>
                         </table>
                         <!-- <div class="text-left item_code">{[{selectedMould.code}]}</div> -->
                     </div>
                 </div>
             </div>
         </div>
         <div class="cell large-1 show-for-large text-left">
             <button ng-click="nextMould()" type="button" class=" button "><i class="fas fa-arrow-right fa-2x"></i></button>
         </div>
     </div>
     <div class="grid-x hide-for-large">
         <div class="cell text-center">
             <button ng-click="prevMould()" type="button" class=" button  "><i class="fas fa-arrow-left fa-2x"></i></button>
             <button ng-click="nextMould()" type="button" class=" button "><i class="fas fa-arrow-right fa-2x"></i></button>
         </div>
     </div>
     <a ng-click="copyImgUrl()" type="button" class="pre button copy-img-btn" data-tooltip tabindex="1" title="Copied" data-disable-hover="true"><i class="fas fa-image"></i> <i class="fas fa-copy"></i></a>
     <br>
