<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Клейнод | рамарня | багетна майстерня | Львів</title>
    <meta name="description" content="Фахова оправа творів живопису, графіки, світлин, документів">
    <meta name="keywords" content="рама, оформлення, дизайн, паспарту, живопис, графіка, дзеркала, фотографії, світлини, інтер’єр, розмальовки на склі, експозиційні меблі, мольберт, Львів, frames, mouldings, design, interior, drawings, photos, painting, mirror, Lviv, Ukraine, онлайн, online">

    <meta property="og:title" content="рамарня «Клейнод»" />
    <meta property="og:description" content="Фахова оправа творів живопису, графіки, світлин, документів" />
    <meta property="og:image" content="https://rama.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rama.lviv.ua/" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/prettyPhoto.css">
    
  </head>
  <body>
    <div class="bgrd-strip">
      <div class="grad-overlay">
      </div>
    </div>
    <link rel="stylesheet" href="assets/css/jquery.datepick.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="assets/js_plugins/angular.min.js"></script>
    <script src="assets/js_plugins/angular-animate.js"></script>
    <script src="assets/js_plugins/orderCalcAngular.js"></script>
    <div style="height: 100vh;" class="expanded row flex-vert-center">
    	<div class="small-centered small-10 large-5 column text-center">
    		<img style="width: 100%; margin-bottom: 10vh" src="assets/img/main-logo.svg">
    		<button data-open="order-form" class="success button uppercase"><i class="fa fa-photo "></i>&nbsp; нове замовлення</button>
    		
    	</div>
    </div>
    <div class="reveal full" id="order-form" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-down">
    	<div class="bgrd-strip">
    	    <div class="grad-overlay"></div>
    	</div>
    	<div class="flex-vert-center" style="height: 100vh;">
    	    <div ng-app="orderCalc" ng-controller="orderCalcCtrl" class="row">
    	        <form id="gform" method="POST" class="" action="https://script.google.com/macros/s/AKfycbwjSsnfxkVZrvvQFamlhWXjzvSSwb6lIn6Mfwtze1IOqXCF-2g/exec" novalidate>
    	            <div class="row clnd-title">
    	                <h2>замовлення</h2>
    	            </div>
    	            <div class="row column">
    	                <div class="medium-6 large-3 column">
    	                    <h4>замовник</h4>
    	                    <input type="text" id="name" name="клієнт" placeholder="ім’я" required>
    	                    <input type="text" id="phone" name="телефон" placeholder="телефон" required>
    	                    <hr>
    	                    <h4>об’єкт</h4>
    	                    <input type="text" name="назва" placeholder="назва">
    	                    <div class="row ">
    	                        <div class="small-4 column">
    	                            <input type="number" min="0" name="ширина" ng-model="objWidth" placeholder="ширина">
    	                        </div>
    	                        <div class="small-4 column">
    	                            <input type="number" min="0"name="висота" ng-model="objHeight" placeholder="висота">
    	                        </div>
    	                        <div class="small-4 column">
    	                            <input type="number" min="1" name="кількість" ng-model="objQuantity" placeholder="к-сть">
    	                        </div>
    	                    </div>
    	                    <hr> дедлайн:
    	                    <input type="text" id="deadLine" name="дедлайн">
    	                    <hr>
    	                    <textarea rows="4" name="примітки" placeholder="примітки"></textarea>
    	                    менеджер:
    	                    <select name="менеджер">
    	                        <option value="Мирослава">Мирослава</option>
    	                        <option value="Уляна">Уляна</option>
    	                        <option value="Зося">Софія</option>
    	                    </select>
    	                </div>
    	                <div class="medium-6 large-9 column left-border">
    	                    <div class="row small-up-1 large-up-3">
    	                        <div class="column">
    	                            <h4>багет</h4>
    	                            <select ng-model="selectedMould" ng-options="mould.code for mould in allMoulds" placeholder="код багету"></select>
    	                            <input type="text" class="hide" name="багет" value="{[{selectedMould.code}]}">
    	                            <div class="carton-hole">
    	                                <img src="assets/img/catalog/baget/thumbs/{[{selectedMould.code}]}.jpg" />
    	                            </div>
    	                            <br>
    	                            <input type="checkbox" ng-model="ornAccuracy"> підбір орнаменту &nbsp; &nbsp;
    	                            <input type="checkbox" ng-model="sawCut"> на пилі
    	                            <hr>
    	                            <div class="row calc-details">
    	                                <div class="small-6 column ">
    	                                    <p class="text-right">периметр: {[{mouldPerim() | number}]} м</p>
    	                                    <p class="text-right">ціна/метр: {[{selectedMould.price| currency: "€" : 2}]} </p>
    	                                    <p class="text-right">фурнітура: {[{furniture()| currency: " " : 0}]} грн </p>
    	                                    <p class="text-right">робота: {[{cutMould() | number}]} грн</p>
    	                                </div>
    	                                <div class="small-6 column ">
    	                                    <h5 class="text-right">ціна: {[{mouldCost() | currency: " " : 0}]} <small>грн</small> </h5>
    	                                </div>
    	                                <div class=" column">
    	                                </div>
    	                            </div>
    	                        </div>
    	                        <div class="column left-border">
    	                            <h4>паспарту</h4>
    	                            <div class="row">
    	                                <div class="small-6 column">
    	                                    ширина:
    	                                    <input type="number" min="0" value="0" ng-model="passWidth">
    	                                </div>
    	                                <div class="small-6 column">
    	                                    код:
    	                                    <input type="text" name="паспарту">
    	                                </div>
    	                                <div class="column">
    	                                    матеріал:
    	                                    <select ng-model="selectedPass" ng-options="pass.type for pass in passTypes"></select>
    	                                    <input type="radio" ng-model="passForm" value="oval-pass"> круг/овал &nbsp; &nbsp; &nbsp;
    	                                    <input type="radio" ng-model="passForm" value="arch-pass"> арка
    	                                    <hr>
    	                                    <input type="checkbox" ng-model="doublePass"> подвійне
    	                                    <div class="row">
    	                                        <div id="doublePass" ng-show="doublePass" class="ng-hide">
    	                                            <div class="small-6 column">
    	                                                <input type="number" min="0" ng-model="passOffset" placeholder="відступ">
    	                                            </div>
    	                                            <div class="small-6 column">
    	                                                <input type="text" min="0" name="код внутрішнього паспарту" placeholder="код">
    	                                            </div>
    	                                        </div>
    	                                        <hr>
    	                                        <div class="column">штапік:&nbsp; &nbsp;
    	                                            <input type="radio" ng-model="shtapik" value="shtapik-PL"> пластик &nbsp; &nbsp;
    	                                            <input type="radio" ng-model="shtapik" value="shtapik-ES"> Іспанія
    	                                            <input type="text" min="0" class="float-right" name="код штапіка" ng-show="shtapik" class="ng-hide" placeholder="код">
    	                                            <p class="calc-details"> ціна штапіка з роботою: {[{shtapikCost() | currency: " " : 0}]} грн</p>
    	                                        </div>
    	                                    </div>
    	                                </div>
    	                            </div>
    	                            <hr>
    	                            <div class="row calc-details">
    	                                <div class="small-6 column">
    	                                    <p class="text-right">площа: {[{passSqr() | number}]} м<sup>2</sup> </p>
    	                                    <p class="text-right">ціна за м<sup>2</sup>: {[{selectedPass.price| currency: " " : 0}]} грн</p>
    	                                    <p class="text-right">робота: {[{cutPass() | currency: " " : 0}]} грн </p>
    	                                </div>
    	                                <div class="small-6 column">
    	                                    <h5 class="text-right">ціна: {[{passCost() | currency: " " : 0}]} <small>грн</small></h5>
    	                                </div>
    	                                <div class=" column">
    	                                </div>
    	                            </div>
    	                        </div>
    	                        <div class="column left-border">
    	                            <h4>скло</h4>
    	                            <div class="row">
    	                                <div class="small-6 column">
    	                                    <select ng-model="selectedGlass" value="{[{selectedGlass}]}" ng-options="glass.type for glass in glassTypes"></select>
    	                                    <input type="text" class="hide" name="скло" value="{[{selectedGlass.type}]}">
    	                                </div>
    	                                <div class="small-6 column">
    	                                    <input type="checkbox" ng-model="antiGlass"> антирама
    	                                    <input type="number" min='4' ng-model="clipQuantity" ng-show="antiGlass" class="ng-hide" placeholder="зажими">
    	                                </div>
    	                            </div>
    	                            <hr>
    	                            <div class="row calc-details">
    	                                <div class="small-6 column">
    	                                    <p class="text-right">площа: {[{glassSqr() | number}]} м<sup>2</sup></p>
    	                                    <p class="text-right">ціна за м<sup>2</sup>: {[{selectedGlass.price| currency: " " : 0}]} грн</p>
    	                                    <p class="text-right">зажими:{[{antiGlassClipWork()| currency: " " : 0}]} грн</p>
    	                                    <p class="text-right">робота: {[{cutGlass() | number}]} грн</p>
    	                                </div>
    	                                <div class="small-6 column">
    	                                    <h5 class="text-right">ціна: {[{glassCost() | currency: " " : 0}]} <small>грн</small></h5>
    	                                </div>
    	                                <div class="column">
    	                                </div>
    	                            </div>
    	                            <hr>
    	                            <h4>задня стінка</h4>
    	                            <div class="row">
    	                                <div class="small-6 column">
    	                                    <select name="" ng-model="selectedBack" ng-options="back.type for back in backTypes"></select>
    	                                </div>
    	                                <div class="small-6 column">
    	                                    <input type="checkbox" ng-model="doubleBack"> подвійна
    	                                </div>
    	                            </div>
    	                            <hr>
    	                            <div class="row calc-details">
    	                                <div class="small-6 column ">
    	                                    <p class="text-right">площа: {[{backSqr() | number}]} м<sup>2</sup></p>
    	                                    <p class="text-right">ціна за м<sup>2</sup>: {[{selectedBack.price| currency: " " : 0}]} грн</p>
    	                                </div>
    	                                <div class="small-6 column">
    	                                    <h5 class="text-right">ціна: {[{backCost() | currency: " " : 0}]} <small>грн</small></h5>
    	                                </div>
    	                                <div class="column">
    	                                </div>
    	                            </div>
    	                            <hr>
    	                            <input type="radio" ng-model="stretch" value="DVP"> натяжка на ДВП
    	                            <br> <b>натяжка на підрамник:</b>
    	                            <br>
    	                            <input type="radio" ng-model="stretch" value="subframe"> звичайна &nbsp;&nbsp;
    	                            <input type="radio" ng-model="stretch" value="subframeGallery"> галерейна
    	                            <p class="text-right calc-details">натяжка: {[{stretchWork() | currency: " " : 0}]} грн</p>
    	                        </div>
    	                    </div>
    	                    <hr>
    	                    <div class="row column">
    	                        <h4>загальна сума</h4>
    	                        <div class="row small-up-1 medium-up-2 large-up-4">
    	                            <div class="column">
    	                                <input type="text" class="hide" name="сума" value="{[{totalCost() | currency: '' : 0}]}">
    	                                <h2 class="text-right">{[{totalCost() | currency: " " : 0}]} <small></small></h2>
    	                                <p class="text-right">грн</p>
    	                            </div>
    	                            <div class="column">
    	                                знижка:
    	                                <input type="number" min="0" max="15" name="знижка" ng-model="discount" placeholder="знижка">
    	                            </div>
    	                            <div class="column ">
    	                                &nbsp; &nbsp;
    	                                <input type="number" min="0" name="аванс" ng-model="advancePay" placeholder="аванс">
    	                            </div>
    	                            <div class=" column">
    	                                <input type="text" class="hide" name="залишок" value="{[{customerMustPay() | currency: '' : 0}]}">
    	                                <h1 class="text-right">{[{customerMustPay() | currency: " " : 0}]} </h1>
    	                                <p class="text-right">грн</p>
    	                            </div>
    	                        </div>
    	                    </div>
    	                    <hr>
    	                    <br>
    	                    <div class="text-right">
    	                        <button type="button" id="detailsToggleButton" onclick="detailsToggle()" class="secondary button uppercase">сховати деталі</button>&nbsp;&nbsp;
    	                        <input type="button" onclick="resetForm($('#gform'))" class="alert button uppercase" value="очистити"> &nbsp;&nbsp;
    	                        <input type="submit" class="success button uppercase" value="в роботу !">
    	                        <!-- <button class="success button uppercase"><i class="fa fa-paper-plane "></i>&nbsp; в роботу !</button> -->
    	                    </div>
    	                </div>
    	            </div>
    	        </form>
    	    </div>
    	    <div style="display:none;" id="thankyou_message">
    	        <h1 class="uppercase gold text-center">Дякуємо! <br> замовлення прийнято</h1>
    	        <div class="text-center" style="margin-top: 5vh">
    	            <button id="back-to-form" class="primary button uppercase"><i class="fa fa-arrow-left "></i>&nbsp; ой, повернутись</button>
    	            <button id="thankyou-close" class="success button uppercase" data-close><i class="fa fa-close "></i>&nbsp; такой в роботу!</button>
    	        </div>
    	    </div>
    	</div>
    	
    	<button class="close-button" data-close aria-label="Close modal" type="button">
    	<span aria-hidden="true">&times;</span>
    	</button>
    
    </div>
    <script src="assets/js/app.js"></script>
    <script src="assets/js_plugins/jquery.prettyPhoto.js"></script>
    <script src="assets/js_plugins/owl.carousel.min.js"></script>
    <script src="assets/js_plugins/datepick/jquery.plugin.min.js"></script>
    <script src="assets/js_plugins/datepick/jquery.datepick.min.js"></script>
    <script src="assets/js_plugins/datepick/jquery.datepick-uk.js"></script>
    <script data-cfasync="false" src="assets/js_plugins/form-submission-handler.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82329311-1', 'auto');
    ga('send', 'pageview');
    </script>
    
    
  </body>
</html>